@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sidebarElementsWidth: 92.5%;
    --sidebarElementsBorderRadius: 20px;
    --accent: rgb(54, 127, 223);
    --accent-blur: rgba(54, 127, 223, 0.500);
    --accent-hover: #3d91ff;
    --bg: #e7e5e5ff;
    --text: #000;
    --muted: #232323;
    /* for darkmode a8a8a8 */
    --translucentbg: rgba(255, 255, 255, 0.590);
    --itemsbg: rgb(232, 235, 244);
    --transition: 0.25s ease;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: var(--translucentbg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: var(--bg);
}

.ball {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: var(--accent);
    filter: blur(300px);
    position: fixed;
    z-index: -1;
}

.ball1 {
    left: -20%;
    bottom: -60%;
}

.ball2 {
    right: -20%;
    top: -60%;
}

nav{
    position:absolute;
    height:95vh;
    width:275px;
    background:var(--translucentbg);
    left:10px;
    top:50%;
    transform: translate(0,-50%);
    border-radius:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav header{
    width:90%;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav header .navBranding{
    width: 92.5%;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: var(--text);
}

.nav header .navBranding img {
    width: 50px;
    height: 50px;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    color: var(--text);
    height: 50px;
    font-family: "poppins";
}

.branding img {
    width: 40px;
    height: 40px;
}

main{
    width:90vw;
    height:95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchContainer{
    width:55vw;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.searchContainer input{
    position: absolute;
    width:90%;
    height:50px;
    border-radius:50px;
    border:2px solid  var(--accent);
    outline:none;
    background:var(--translucentbg);
    color: var(--text);
    font-family: "cascadia code";
    font-size:20px;
    padding:10px 15px;
    transition: var(--transition);
    caret-color: var(--accent);
}

.modeSelected{
    position: absolute;
    right:5.75%;
    height:40px;
    width: max-content;
    padding:0px 10px;
    min-width:75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-family: "poppins";
    border-radius:50px;
    background: var(--accent);
    cursor:pointer;
    transition: var(--transition);
}

.modeSelected:hover{
    padding:0px 15px;
}

.bubbles{
    width:50vw;
    height: 100px; 
    padding:10px 50px;
}

.bubble{
    margin: 5px 10px;
    background:var(--translucentbg);
    border:none;
    color: var(--text);
    padding:10px 15px;
    border-radius:50px;
    font-family: "Montserrat";
    cursor:pointer;
}

.bubble:hover{
    background: var(--accent-blur);
    transform: translateY(-2px);
    padding:12.5px 17.5px;
}